.cadastro{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(247, 565, 184),rgb(228, 133, 199));    

}
.box-cadastro{
    width: 30%;

    background-color: rgba(212, 0, 255, 0.411);
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    border-radius: 8px;
    transform: translate(-50%, -50%);

    
}
fieldset{
    border: 3px solid rgba(212, 0, 255, 0.411);
    
    

}
legend{
    border: 3px solid rgba(212, 0, 255, 0.411);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(212, 0, 255, 0.411);
}
.inputBox{
    position: relative;
    
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 90%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(102, 10, 121);
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px ;
    outline: none ;
    font-size: 15px;
    width: 40%;
}
#submit{
    background-image: linear-gradient(to right, rgb(247, 565, 184),rgb(228, 133, 199)); 
    width: 50%;
    border: none;
    font-size: 15px;
    padding: 15px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 8px;
    display:flex ;
    margin: auto;
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(247, 565, 184),rgb(228, 133, 199));
    
}
.area-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}
.data-nasc{
    display: flex;
    flex-direction: column;
}